<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Our location</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="style.css" rel="stylesheet">
 </head>

  <body>
    <div class="container">
    <h1>Our location</h1>
    
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d954.869989854054!2d96.17595642915128!3d16.802529283125864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c1ecc72999cb97%3A0xea2656360c7c3023!2sThu%20Dhammar%20St%2C%20Yangon!5e0!3m2!1sen!2smm!4v1603281695639!5m2!1sen!2smm" width="" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>    
    
    
      <button type="button" class="btn btn-primary">GO</button>
 
    </div>
  </body>

</html>

