<!DOCTYPE html> 
<html lang="en">
<head>
  <title>Our Information</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="js/jquery.js"></script> 
    <script src="js/jquery.glide.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">    
    <link href="style1.css" rel="stylesheet">


</head>
<body>

<!--============ Navigation ============-->

<nav class="navbar navbar-expand-md navbar-light bg-dark">
  <h1 style="font-family: Times New Roman; font-size: 50px; color: white;">
      DTN Dessert Shop Admin Page
  </h1>
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link h4 text-muted" href="/admin/home"> Home</a>        
      </li>

      <li class="nav-item">
        <a class="nav-link h4 text-muted" href="/admin/members"> See Members</a>        
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle h4 text-muted" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Order
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item h4" href="/admin/orders"> See Orders</a>  
          <a class="dropdown-item h4" href="/admin/donate_orders"> See Orders for donation</a>           
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle h4 text-muted" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Food
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item h4" href="/admin/foods"> See Foods</a> 
          <a class="dropdown-item h4" href="/admin/addfood"> Add Foods</a>          
      </li>

      <li class="nav-item">
        <a class="nav-link h4 text-muted" href="/admin/logout"> Logout</a>        
      </li>


    </ul>
    
  </div>  
  </div>
</nav>

<!--============ Slider ============-->


<div class="sliderwrapper">
      <div id="slider" class="container">
           <div class="slider">
            <ul class="slides">
              <li class="slide">
                        <h5 class="wow fadeInDown" data-wow-delay="0.8s">Shwe Kyi Sanwin Makin </h5>
                        <p class="wow fadeInUp" data-wow-delay="0.8s">abcdef</p>
                      <img src="https://firebasestorage.googleapis.com/v0/b/dtn1-a2b4c.appspot.com/o/1603185742003_shwekyi.jpg?alt=media&token=92dd5561-29c2-417f-8bb8-6e5b7a4c1509" width="317" height="256" class="wow fadeInRight" 
                      data-wow-delay="0.8s" alt="slide1img"> 
                </li>
                <li class="slide">
                        <h5 class="wow fadeInDown" data-wow-delay="0.8s">Shwe Kyi Sanwin Makin </h5>
                        <p class="wow fadeInUp" data-wow-delay="0.8s">abcdef</p>
                      <img src="https://firebasestorage.googleapis.com/v0/b/dtn1-a2b4c.appspot.com/o/1603185742003_shwekyi.jpg?alt=media&token=92dd5561-29c2-417f-8bb8-6e5b7a4c1509" width="317" height="256" class="wow fadeInRight" 
                      data-wow-delay="0.8s" alt="slide1img"> 
                </li>
              <li class="slide">
                        <h5 class="wow fadeInDown" data-wow-delay="0.8s">Shwe Kyi Sanwin Makin </h5>
                        <p class="wow fadeInUp" data-wow-delay="0.8s">abcdef</p>
                      <img src="https://firebasestorage.googleapis.com/v0/b/dtn1-a2b4c.appspot.com/o/1603185742003_shwekyi.jpg?alt=media&token=92dd5561-29c2-417f-8bb8-6e5b7a4c1509" width="317" height="256" class="wow fadeInRight" 
                      data-wow-delay="0.8s" alt="slide1img"> 
                </li>
              <li class="slide">
                        <h5 class="wow fadeInDown" data-wow-delay="0.8s">Shwe Kyi Sanwin Makin </h5>
                        <p class="wow fadeInUp" data-wow-delay="0.8s">abcdef</p>
                      <img src="https://firebasestorage.googleapis.com/v0/b/dtn1-a2b4c.appspot.com/o/1603185742003_shwekyi.jpg?alt=media&token=92dd5561-29c2-417f-8bb8-6e5b7a4c1509" width="317" height="256" class="wow fadeInRight" 
                      data-wow-delay="0.8s" alt="slide1img"> 
                </li>  
              </ul>
            </div>
      </div> <!-- End of Slider-->
</div> <!-- end of sliderwrapper-->



<!--============ Best Dishes ============-->



<script type="text/javascript">
    $('.sliderwrapper .slider').glide({
    autoplay: 7000,
    animationDuration: 3000,
    arrows: true,
    
    
  
    });
  
</script>
  
    <script type="text/javascript">
    $('.bestdisheswrapper .slider').glide({
    autoplay: false,
    animationDuration: 700,
    arrows: true,
    navigation:false,
    
    
  
    });
  
  
</script>
  
   
   

</body>

</html>