<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Our Information</title>
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="style.css" rel="stylesheet">
    
  </head>
  
  <body>
  <!-- NAV -->
    <nav class="navbar navbar-expand-md navbar-light bg-dark">
      <h1 style="font-family: Times New Roman; font-size: 50px; color: white;">
          DTN Dessert Shop 
      </h1>  
    </nav>

    <!-- Abous Us -->
    <div class="container bg-light">
    <div class="row">   
      <div class="col-lg-10">

        <h2>Our Process</h2>
        <div class="list-group">
          <p>resas a twetryt ahrshtjarehtry aertrytu AETSRY</p>
        </div>
      </div>      

      <div class="col-lg-2">

          <div class="card mt-4">                            
                    
                    <div class="card-body">
                        
                        <h4>Donation with us</h4>
                        <p>milk abababababafghjkl;gwehwhehrtyuiopefhjckv a aufhbnvb ;a gjWEOI AWOG IWAOI GWJE</p>
                    </div>

              </div>

      </div>
    </div>
  </div>
      
      <!-- About Food -->
      <div class="feature">
        <div class="container">
          <div class="row">   
            <h2>About our Food</h2>
            <div class="col-lg-4">
              <div class="card mt-4">                            
                    
                    <div class="card-body">
                        <img class="card-img-top img-fluid" src="https://firebasestorage.googleapis.com/v0/b/dtn1-a2b4c.appspot.com/o/1603185580701_milk.jpg?alt=media&token=92dd5561-29c2-417f-8bb8-6e5b7a4c1509">
                        <h4>abc</h4>
                        <p>milk abababababafghjkl;gwehwhehrtyuiopefhjckv a aufhbnvb ;a gjWEOI AWOG IWAOI GWJE</p>
                    </div>

              </div>
            </div>
            <div class="col-lg-4">       
                <div class="card mt-4">    
                    
                     <div class="card-body">
                        <img class="card-img-top img-fluid" src="https://firebasestorage.googleapis.com/v0/b/dtn1-a2b4c.appspot.com/o/1603185580701_milk.jpg?alt=media&token=92dd5561-29c2-417f-8bb8-6e5b7a4c1509">
                        <h4>abc</h4>
                        <p>milk abababababafghjkl;gwehwhehrtyuiopefhjckv a aufhbnvb ;a gjWEOI AWOG IWAOI GWJE</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">       
                <div class="card mt-4">             
                    
                      <div class="card-body">
                        <img class="card-img-top img-fluid" src="https://firebasestorage.googleapis.com/v0/b/dtn1-a2b4c.appspot.com/o/1603185580701_milk.jpg?alt=media&token=92dd5561-29c2-417f-8bb8-6e5b7a4c1509">
                        <h4>abc</h4>
                        <p>milk abababababafghjkl;gwehwhehrtyuiopefhjckv a aufhbnvb ;a gjWEOI AWOG IWAOI GWJE</p>
                      </div>
                </div>
            </div>
        </div>
      </div>
    </div>

<!-- subscribe block -->
      <div class="subscribe">
        <div class="container">
          <div class="sub-content">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <!-- subscribe update message -->
                <div class="sub-message">
                  <!-- heading -->
                  <h3>Get Subscribe For Any Updates!</h3>
                  <!-- paragraph -->
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <!-- paragraph -->
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  <!-- update form  -->
                  <form role="form">
                    <div class="input-group">
                      <input type="text" class="form-control input-lg" placeholder="Email Address">
                      <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">Subscribe</button>
                      </span>
                    </div><!-- /input-group -->
                  </form>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ZAqj3JWSN8M" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

          
         
      
      
      
    
    
    
  </body> 
</html>