<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Our Information</title>
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
  </head>
  
  <body>
  <!-- NAV -->
    <nav class="navbar navbar-expand-md navbar-light bg-dark">
      <h1 style="font-family: Times New Roman; font-size: 45px; color: white;">
          DTN Dessert Shop 
      </h1>  
    </nav>

    <!-- Abous Us -->
    <div class="feature" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/dtn1-a2b4c.appspot.com/o/Abstract-Ambient-Light-Background-Day-Blue.jpg?alt=media&token=155a0df0-113a-4a0f-b956-0652b41e34ea'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="container">
    <div class="row">   
      <div class="col-lg-8">

        <h2 style="font-family: Times New Roman; font-weight: bold;">OUR PROCESS</h2>
        <div class="list-group">
          <p>resas a twetryt ahrshtjarehtry aertrytu AETSRY</p>
        </div>
      </div>      

      <div class="col-lg-4">

          <div class="card mt-4">                            
                    
                    <div class="card-body">
                        
                        <h4>Donation with us</h4>
                        <p>milk abababababafghjkl;gwehwhehrtyuiopefhjckv a aufhbnvb ;a gjWEOI AWOG IWAOI GWJE</p>
                    </div>

              </div>

      </div>
    </div>
  </div><hr><br>
  
      
      <!-- About Food -->
      <div class="container">
        
          <h2 style="font-family: Times New Roman; font-weight: bold;">OUR FOOD</h2>
          <div class="row">               
            <div class="col-lg-4">
              <div class="card mt-4">                            
                    
                    <div class="card-body">
                        <img class="card-img-top img-fluid" src="https://firebasestorage.googleapis.com/v0/b/dtn1-a2b4c.appspot.com/o/1603185550336_banana.jpg?alt=media&token=92dd5561-29c2-417f-8bb8-6e5b7a4c1509"><hr>
                        <h4>Sanwin Makin Made with Banana</h4>
                        <p>
                          <ol>
                              <li><b>Ingredients:</b> Raw bananas, Coconut cream, Semolina, Sugar, Salt, Butter and Eggs</li>
                              <li>Produced using only pure natural bananas.</li>
                              <li>Only fresh and good quality butter is used.</li>
                              <li>It is safe for health as it does not contain coloring oil.</li>
                              <li>It is an essential dessert for the donation ceremony.</li>
                              <li>It can be consumed by people of all races.</li>
                          </ol> 
                        </p>
                    </div>

              </div>
            </div>
            <div class="col-lg-4">       
                <div class="card mt-4">    
                    
                     <div class="card-body">
                        <img class="card-img-top img-fluid" src="https://firebasestorage.googleapis.com/v0/b/dtn1-a2b4c.appspot.com/o/1603185775763_pudding.jpg?alt=media&token=92dd5561-29c2-417f-8bb8-6e5b7a4c1509"><hr>
                        <h4>Baked Pudding</h4>
                        <p>
                          <ol>
                              <li><b>Ingredients:</b> Eggs, Milk, Wheat, Sugar and Salt</li>
                              <li> It is made of pure and fresh ingredients in a balanced way, so it is delicious and nutritious.</li>
                              <li>It will be more popular for young people because it has more sweet taste.</li>
                              <li>It is safe for health because it does not contain long-acting drugs.</li>
                              <li>It is an essential dessert for the donation ceremony.</li>
                              <li>It can be consumed by people of all races and religions.</li>
                          </ol> 
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">       
                <div class="card mt-4">             
                    
                      <div class="card-body">
                        <img class="card-img-top img-fluid" src="https://firebasestorage.googleapis.com/v0/b/dtn1-a2b4c.appspot.com/o/1603185710709_potato.jpg?alt=media&token=92dd5561-29c2-417f-8bb8-6e5b7a4c1509"><hr>
                        <h4>Sanwin Makin Made with Potato</h4>
                        <p>
                          <ol>
                              <li><b>Ingredients:</b> Potato, Coconut cream, Semolina, Sugar, Salt, Butter and Eggs</li> 
                              <li>Made with fresh, nutritious potato and coconut cream.</li>
                              <li>It is also an essential dessert for donations ceremony and weddings.</li>
                              <li>It is suitable for health as it does not contain long-acting drugs.</li>
                              <li>Its taste is less sweet and more cheesy, so it will be mroe popular with adults.</li>
                              <li>It can be consumed by people of all races and religions.</li>
                          </ol> 
                        </p>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
  <hr>

<!-- MAP -->
      
        <div class="container">
         
            <div class="row">
              <div class="col-md-6 col-sm-6">
               
                  <h3 style="font-family: Times New Roman; font-weight: bold;">OUR SHOP</h3>
                  
                  <p>This shop has been in this business for about 10 years. The shop is situated at Kyauk Myaung, Tarmwe.</p>
                 
                  <p>Most of the orders are from wedding and meritorious ceremonies. The foods that have been ordered most are Shwe Kyi and Sanwin Makin. You can find our shop at the map.</p>
                  <p><b>CONTACT US: </b><a class="btn btn-outline-dark" href="https://www.facebook.com/DTN-Dessert-125122509361262">CLICK HERE</a></p>
                  
               
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d954.8673623714049!2d96.17598592916734!3d16.803051383122263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c1ecc727599143%3A0x65d2bae9933eba85!2sMa%20Hlwa%20Gone%20St%2C%20Yangon!5e0!3m2!1sen!2smm!4v1604645439305!5m2!1sen!2smm" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
              </div>
            </div>
          
        </div><br><hr>
      </div>

     
    <!-- Footer 
    <footer class="page-footer">
      <div class="container">
        
          <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
              <a class="btn-floating btn-fb mx-1">
                <a href="https://www.facebook.com/DTN-Dessert-125122509361262"><i class="fab fa-facebook-f"></i></a>
              </a>
            </li>
            
            <li class="list-inline-item">
              <a class="btn-floating btn-gplus mx-1">
                <a href="https://mail.google.com/mail/u/0/#inbox"><i class="fab fa-google-plus-g"> </i></a>
              </a>
            </li>
            
          </ul>    
      </div>
            
    </footer>   -->
   </body> 
</html>