<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<!--==============================
              header
=================================-->
<header>
<div class="container">
<div class="row">
<div class="grid_12">
    <h1 style="font-family: Brush Script Std; font-size: 70px; color: #004085;">
      DTN Dessert Shop Admin Page
  </h1>
<div class="navigation ">
  <nav>
    <ul class="sf-menu">
   <li ><a href="index.php">Home</a></li>   
<!--   <li><a href="itemsearch.php">Search for Item</a>
   <li><a href="orderitem.php">Order Item</a></li>-->
<li><a href="admin_login.php">Admin</a>
<!--        <ul class="sub">   
            <li><a href="admin_register.php">Admin Register</a></li>
            <li><a href="brandtyperegister.php">Brand Type Register</a></li>                             
            <li><a href="categoryregister.php">Category Register</a></li>
            <li><a href="itemregister.php">Item Register</a></li>
        </ul>-->
      </li>

<!--  <li><a href="#">Brand Type</a>
    <ul class="sub">     
        <li><a href="brandtyperegister.php">Brand Type Register</a></li>
        <li><a href="brandtypeupdatedelete.php">Brand Type Edit</a></li>                
    </ul>
  </li>  

  <li><a href="#">Category</a> 
    <ul class="sub">    
        <li><a href="categoryregister.php">Category Register</a></li>
        <li><a href="categoryupdatedelete.php">Category Edit</a></li>                 
    </ul>
  </li> -->

      <li><a href="client_register.php">Client</a>  
<!--      <li><a href="#">Login</a>
            <ul class="sub">    
               <li class="current"><a href="admin_login.php">Admin Login</a></li>
               <li><a href="client_login.php">Client Login</a></li>                        
            </ul>
      </li>             -->

      <li><a href="about.php">About</a></li>

   </ul>
  </nav>
  <div class="clear"></div>
</div>       
</div>
</div>
</div>
</header>
<body>
<div class="main">
</head>

<!--==============================
              footer
=================================-->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="grid_12"> 
        <div class="copyright">
            
            <h4>
              Mobicity 
        <div class="socials">
          <a href="https://twitter.com/" class="fa fa-twitter"></a>
          <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
          <a href="https://plus.google.com/" class="fa fa-google-plus"></a>
          <a href="https://www.instagram.com" class="fa fa-instagram"></a>
          <a href="https://www.skype.com/en/" class="fa fa-skype"></a>       
        </div>
          </h4> &copy; <span id="copyright-year"></span> | <a href="#">Privacy Policy</a>
          <div class="sub_copyright">
              Website designed by <b>Oake Kywe Phyo Han</b>
          </div>
        </div>
      </div>
        
    </div>

  </div>  
</footer>
	</body>
</html>

