<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<!--==============================
              header
=================================-->
<header>
<h1 style="font-family: Brush Script Std; font-size: 70px; color: #004085;">
      DTN Dessert Shop Admin Page
</h1>
<nav>
  <ul>
    <li><a href="/admin/home">Home</a></li>   
    <li><a href="/admin/members">See Members</a></li>   
   
  </ul>
</nav>

</header>  

<!--==============================
              footer
=================================-->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="grid_12"> 
        <div class="copyright">
            
            <h4>
              Mobicity 
        <div class="socials">
          <a href="https://twitter.com/" class="fa fa-twitter"></a>
          <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
          <a href="https://plus.google.com/" class="fa fa-google-plus"></a>
          <a href="https://www.instagram.com" class="fa fa-instagram"></a>
          <a href="https://www.skype.com/en/" class="fa fa-skype"></a>       
        </div>
          </h4> &copy; <span id="copyright-year"></span> | <a href="#">Privacy Policy</a>
          <div class="sub_copyright">
              Website designed by <b>Oake Kywe Phyo Han</b>
          </div>
        </div>
      </div>
        
    </div>

  </div>  
</footer>
	</body>
</html>

