<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    ul {
      margin: 0;
      padding: 0;
    }
    /* visited link */
    a:visited {
      color: green;
    }

    /* mouse over link */
    a:hover {
      color: hotpink;
    }

    li {
      display: inline;
    }
    </style>

</head>

<!--==============================
              header
=================================-->
<header>
<h1 style="font-family: Times New Roman; font-size: 50px; color: #004085;">
      DTN Dessert Shop Admin Page
</h1>
<nav>
  <ul>
    <li><a href="/admin/home">Home</a></li>  
  
    <li><a href="/admin/members">See Members</a></li>   
  
    <li><a href="/admin/foods">See Foods</a></li>   
  
    <li><a href="/admin/orders">See Orders</a></li>   
  </ul>
</nav>

</header>  

<!--==============================
              footer
=================================-->
<footer>
  
</footer>

