<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<!--==============================
              header
=================================-->
<header>
<h1 style="font-family: Times New Roman; font-size: 50px; color: #004085;">
      DTN Dessert Shop Admin Page
</h1>
<nav>
  <ul>
    <li><a href="/admin/home">Home</a></li>  
  </ul>
  <ul>
    <li><a href="/admin/members">See Members</a></li>   
  </ul>
  <ul>
    <li><a href="/admin/foods">See Foods</a></li>   
  </ul>
  <ul>
    <li><a href="/admin/orders">See Orders</a></li>   
  </ul>
</nav>

</header>  

<!--==============================
              footer
=================================-->
<footer>
  oakekywephyohan
</footer>

